package ${package.ServiceImpl};

    ${table.mapperName};
    ${table.serviceName};
    ${entity};
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * <p>
 * ${entity}服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ServiceImpl<BaseMapper<${entity}>, ${entity}>implements ${table.serviceName}{

private final String FIX="a.";

@Autowired
private ${table.mapperName} ${table.entityPath}Mapper;

public IPage<${entity}> getPage(${entity} condition,Page<${entity}> page){
        QueryWrapper<${entity}> query=new QueryWrapper<${entity}>();
    #foreach($field in ${table.fields})
        #if(${field.propertyType.equals("String")})
                query.like(StringUtils.isNotEmpty(condition.get${field.capitalName}()),FIX+${entity}.${field.name.toUpperCase()},condition.get${field.capitalName}());
        #else
                query.eq(condition.get${field.capitalName}()!=null,FIX+${entity}.${field.name.toUpperCase()},condition.get${field.capitalName}());
        #end
    #end
        query.eq(FIX+${entity}.FLAG,"1");
        IPage<${entity}> result= ${table.entityPath}Mapper.listPage(page,query);
        return result;
        }

        }