<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="header :: header(~{::title},~{},~{})">
    <meta charset="UTF-8">
    <title>流程模板</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body layui-row layui-col-space10">
            <div class="layui-col-md8">
                <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="show()">
                        <!--shiro:haspermission="processModel:add">-->
                        <i class="layui-icon layui-icon-add-1"></i>新增
                    </button>
                    <button class="layui-btn layui-btn-sm" onclick="show(1)">
                        <!--shiro:haspermission="processModel:edit">-->
                        <i class="layui-icon layui-icon-edit"></i>修改
                    </button>
                    <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="del()">
                        <!--shiro:haspermission="processModel:delete">-->
                        <i class="layui-icon layui-icon-delete"></i>删除
                    </button>
                </div>
            </div>
            <div class="layui-col-md4">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <input type="text" id="itSearch" name="itSearch" onkeydown="if(event.keyCode==13){query();}"
                                   placeholder="请输入查询条件" autocomplete="off" class="layui-input"/>
                        </td>
                        <td>
                            <li class="layui-nav-item layadmin-flexible" style="float: right" lay-unselect>
                                <a href="javascript:" onclick="showAdvance()" layadmin-event="flexible" title="高级搜索">
                                    <i class="layui-icon layui-icon-more"></i>
                                </a>
                            </li>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <hr/>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-btn-container">
                        <table id="dataTable" lay-filter="dataTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script class="add_dlg" type="text/html">
    <div class="layui-card">
        <div class="layui-card-body">
            <form id="dataForm" class="layui-form" action=""
                  lay-filter="dataForm">
                <input type="hidden" name="id" id="id"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">processName：</label>
                    <div class="layui-input-block">
                        <input type="text" name="processName" id="processName"
                               lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">processKey：</label>
                    <div class="layui-input-block">
                        <input type="text" name="processKey" id="processKey"
                               lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">processType：</label>
                    <div class="layui-input-block">
                        <input type="text" name="processType" id="processType"
                               lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">fileName：</label>
                    <div class="layui-input-block">
                        <input type="text" name="fileName" id="fileName"
                               lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">createTime：</label>
                    <div class="layui-input-block">
                        <input type="text" name="createTime" id="createTime"
                               lay-verify="required" class="layui-input">
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script class="query_dlg" type="text/html">
    <div class="layui-card">
        <div class="layui-card-body">
            <form id="queryForm" class="layui-form"
                  lay-filter="component-form-element">
                <div class="layui-form-item">
                    <label class="layui-form-label">流程名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="processName" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">流程标识：</label>
                    <div class="layui-input-block">
                        <input type="text" name="processKey" class="layui-input">
                    </div>
                </div>

            </form>
        </div>
    </div>
</script>
</body>
<div th:replace="footer :: foot"></div>
<script type="text/javascript">
    $(function () {
        bodyheight = document.documentElement.clientHeight - 140;
        //渲染表格
        initTable();
    });

    function initTable() {
        table.render({
            id: "dataTable",// 设定表格的唯一ID进行标识
            elem: '#dataTable',
            height: bodyheight,
            url: ctx + '/processModel/list', //数据接口
            method: 'get',
            page: true, //开启分页
            limit: 50,
            size: 'sm',
            cols: [
                [
                    {field: '排序', title: '序号', width: 60, fixed: 'center', templet: '#sort'},
                    {title: '流程名称', field: 'processName'},
                    {title: '流程key', field: 'processKey'},
                    {title: '流程分类', field: 'processType'},
                    {title: '模型文件', field: 'fileName'},
                    {title: '创建时间', field: 'insertTime'},
                ]
            ],
            done: function (data) {
                if (!data.success) {
                    layer.msg(data.msg)
                }
            }
        });
        //监听行单击事件（单击事件为：rowDouble）
        table.on('row(dataTable)', function (obj) {
            record = obj.data;
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });
    }

    //显示新增(修改)框
    //显示新增(修改)框
    function show(type) {
        var url = ctx + '/uflo/designer';
        if (type && !record) {
            layer.msg("请先选择记录");
            return;
        }
        if (type && record) {
            url = url + '?p=file:' + record.fileName;
        }
        console.log(url);
        var index = layer.open({
            title: type ? "修改" : "新增",
            type: 2,
            content: url,
            cancel: function (index, layero) {
                initTable();
            }

        });
        layer.full(index);
    }

    //删除
    function del() {
        if (!record) {
            layer.msg("请选择记录");
            return;
        }
        layer.confirm('你确定要删除该条记录吗?', {
            icon: 3,
            title: '提示'
        }, function (index) {
            $.ajax({
                url: ctx + "/processModel/delete?id=" + record.id,
                type: "get",
                contentType: "application/json",
                success: function (data) {
                    if (data.success) {
                        layui.table.reload("dataTable", {});
                        record = null;
                        layer.close(index);
                        layer.msg("删除成功")
                    } else {
                        layer.msg(data.msg)
                    }
                }
            });
        });
    }

    //查询
    function query() {
        var itSearch = $('#itSearch').val();
        layui.table.reload('dataTable', {
            where: {
                processName:
                itSearch
            }
            //设定异步数据接口的额外参数
        })
        record = null;
    }

    //显示高级搜索框
    function showAdvance() {
        layer.open({
            type: 1,
            id: 'LAY_adminPopupR',
            anim: -1,
            title: '高级搜索',
            closeBtn: false,
            offset: 'r',
            shade: 0.1,
            shadeClose: true
            ,
            skin: 'layui-anim layui-anim-rl layui-layer-adminRight'
            ,
            area: '400px',
            content: $('.query_dlg').html(),
            btn: ['查询', '重置'],
            success: function () {
                laydate.render({
                    elem: '#query_createTime'
                });
                layui.form.render()
            },
            yes: function () {
                var fo = $("#queryForm").serializeJson();
                layui.table.reload('dataTable', {
                    where: fo
                });
                record = null;
            },
            btn2: function () {
                $("#queryForm")[0].reset();
                return false;
            }
        });
    }
</script>
</html>