<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asideal.system.dao.HisTaskQueryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asideal.system.entity.HistoryTaskInfo">
        <id column="ID_" property="id"/>
        <result column="DESCRIPTION_" property="description"/>
        <result column="NODE_NAME_" property="nodeName"/>
        <result column="PROCESS_ID_" property="processId"/>
        <result column="ASSIGNEE_" property="assignee"/>
        <result column="BUSINESS_ID_" property="businessId"/>
        <result column="CREATE_DATE_" property="createDate"/>
        <result column="DUEDATE_" property="duedate"/>
        <result column="END_DATE_" property="endDate"/>
        <result column="HIS_PROCESS_INSTANCE_ID_" property="hisProcessInstanceId"/>
        <result column="OPINION_" property="opinion"/>
        <result column="OWNER_" property="owner"/>
        <result column="PROCESS_INSTANCE_ID_" property="processInstanceId"/>
        <result column="ROOT_PROCESS_INSTANCE_ID_" property="rootProcessInstanceId"/>
        <result column="STATE_" property="state"/>
        <result column="SUBJECT_" property="subject"/>
        <result column="TASK_ID_" property="taskId"/>
        <result column="TASK_NAME_" property="taskName"/>
        <result column="TYPE_" property="type"/>
        <result column="URL_" property="url"/>
        <result column="ASSIGNEE_NAME_" property="assigneeName" />
        <result column="ASSIGNEE_NUM_" property="assigneeNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_, DESCRIPTION_, NODE_NAME_, PROCESS_ID_, ASSIGNEE_, BUSINESS_ID_, CREATE_DATE_, DUEDATE_, END_DATE_, HIS_PROCESS_INSTANCE_ID_, OPINION_, OWNER_, PROCESS_INSTANCE_ID_, ROOT_PROCESS_INSTANCE_ID_, STATE_, SUBJECT_, TASK_ID_, TASK_NAME_, TYPE_, URL_
    </sql>
    <select id="findHistoryTask" resultType="com.asideal.system.entity.HistoryTaskInfo">
        SELECT
        t1.*,
        t2.user_name ASSIGNEE_NAME_,
        t2.user_num ASSIGNEE_NUM_,
        (
        select GROUP_CONCAT(concat(user_num,'_',user_name)) from sys_user where id in (
            SELECT
            substring_index( substring_index( a.OWNER_, ',', b.help_topic_id + 1 ), ',', - 1 ) AS shareholder
            FROM
            uflo_his_task a
                INNER JOIN mysql.help_topic b ON b.help_topic_id &lt; ( length( a.OWNER_ ) - length( REPLACE ( a.OWNER_, ',', '' ) ) + 1 )
                where ID_ = t1.ID_
                )
        ) OWNER_NAME_
        FROM
        uflo_his_task t1
        LEFT JOIN sys_user t2 ON t1.ASSIGNEE_ = t2.id
        WHERE
        t1.ROOT_PROCESS_INSTANCE_ID_ = #{instanceId}
        ORDER BY
        t1.END_DATE_,
        t1.CREATE_DATE_
    </select>
    <select id="listPage" resultMap="BaseResultMap">
        SELECT
        a.*
        FROM
        uflo_his_task a
        where 1=1
        <if test="ew.assignee != null and ew.assignee != ''">
            and a.ASSIGNEE_ = #{ew.assignee}
        </if>
    </select>
</mapper>
